@model lmltfy.Models.SearchModel

<div class="col-sm-offset-2" id="mainGrp">
    <div class="form">
        <div class="form-group col-sm-8">
            @Html.EditorFor(model => model.Search, new {htmlAttributes = new {@class = "form-control", @placeholder = "Search"}})

        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-default" id="submitBtn" style="vertical-align: bottom">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
            </button><img src="~/Images/ajax-loader.gif" id="LoadingGif" style="display: none" />
            @Html.ValidationMessageFor(model => model.Search)
            @Html.HiddenFor(a=>a.Brand)
        </div>
        
    </div>
</div>